body {
    overflow-x: hidden;
    height: 100%;
}

.parallax-principal { 
    background-image: url("imagens/Background.jpg");

    height: 100%; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo-rodape {
    width: 4em;
}

#footer-da-pagina {
    background-color: #fff2ff;
}

.bolha {
    background-color: #f0f5f5;
    border-radius: 25px;
    margin: 0 0 3em;
    padding: 2em;
}

.aba {
	border-radius: 5px 5px 0 0;
	position: relative;
	top: 3px;
}

.well-rodape {
    border: solid 2px deeppink;
    margin: 2em auto;
}

.titulo-rodape {
    margin: 1em 2.5em;
}

.rosa {
    color:deeppink;
}

.verde {
    color: green;
}

.fundo-verde {
	background-color: #5cb85c;
}

.fundo-vermelho {
	background-color: #d9534f;
}

.fundo-azul {
	background-color: #337ab7;
}

.sombra {
    text-shadow: 1px 1px gray;
}

.img-responsive {
    height: inherit;
}

.some {
    display: none;
}

.img-responsiva {
    width: 100%;
}