.parallax-capa { 
    background-image: url(imagens/Capa.jpg);

    height: 50em; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#titulo {
    font-size: 6em;
    padding: 2em;
    color: aliceblue;
    font-family: cursive;
}

h2 {
    color: white;
    text-shadow: gray 1px 1px;
    font-size: 3em;
    background-image: url(imagens/60890_XXX_v4.jpg);
    padding: 1em;
    border: white solid 2px;
    border-radius: 50% 50% 50% 50%;
    display:inline-block;
    box-shadow: 3px 3px gray;
}
